.container{
	margin-top:100px;
}
.form-horizontal{
	padding-top:100px;
}
label{
	font-size:1.4em;
}
.form-group{
	padding:10px;
	text-align:center
}
.login{
	padding-top:10px;
	padding-bottom:10px;
	font-size:1.2em;
}
.back{
	font-size:2em;
}
.danger{
	background-color:#ffb3b3;
	text-align:center;
	font-size:1.1em;
	font-weight:bold;
}