.container{
	margin-top:80px;
}
.petshop-title{
	text-align:center;
}
.caption{
	font-size:1.3em;
	text-align:center;
}
.Flex{
	display:flex;
	flex-wrap:wrap;
}
.caption p{
	text-transform:uppercase;
}
.danger{
	background-color:#ffb3b3;
	text-align:center;
	font-size:1.1em;
	font-weight:bold;
}
.success{
	background-color:#b3ffb3;
	text-align:center;
	font-size:1.1em;
	font-weight:bold;
}