.container{
	margin-top:80px;
}
.petshop-title{
	text-align:center;
}
.caption{
	font-size:1.3em;
	text-align:center;
}
.Flex{
	display:flex;
	flex-wrap:wrap;
}
.caption p{
	text-transform:uppercase;
}